@font-face { 
    font-family: 'Futura-Bold';
    src: url('font/futurabold.ttf') format('ttf');
    }
#headBanner {
    background-color: #021e2f;
    height: auto;
    text-align: center;
}
body {
    background-color: #c1c6c8!important;
    font-family: 'Futura-Bold';
}
#viewCont {
    background-color: #c1c6c8;
    height: 100%;
    padding: 40px 10% 40px 10%;
}
#viewContRow {
    height: 100%;
    
}
.easy-autocomplete{
    width: 100%!important
}
#carltonImage {
    width: 80px;
    padding-top: 20px;
     padding-bottom: 20px;
    margin: 0 auto;
}

/* profiles.html */
#playerName {
    background-color: #021e2f;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    
}
.statsrow {
    padding-top: 10px;
    color: #021e2f;
}
.highlights {
    padding:5px;
    margin-top: 5px;
    background-color: #008800;
    color: #fff;
    border: 1px solid #00D800;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.negAlerts {
    padding:5px;
    margin-top: 5px;
    background-color: #9c2b2e;
     border: 1px solid #e84e4f;
    color:#fff;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}
.posAlerts {
    padding:5px;
    margin-top: 5px;
    background-color: #9c2b2e;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #e84e4f;
}
.iconRight {
    float:right;
    font-size: 18px!important;
}
/*
.iconRight:before {
    margin-bottom: -3px;
}

*/
#viewAll {
     text-align: right;
     opacity: .7;
}
 .search-header {
    background-color: #c1c6c8!important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-me {
    margin: 3px;
}


#playerStats {
    padding: 0px 30px 10px 30px;   
}
.labelName {
    font-weight: bold;
}
#imgCont {
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: inset 0px 0px 105px 1px rgba(0,0,0,0.17);
    -moz-box-shadow: inset 0px 0px 105px 1px rgba(0,0,0,0.17);
    box-shadow: inset 0px 0px 105px 1px rgba(0,0,0,0.17);
    
    border: 1px solid #021e2f;
}
.topBot20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.noMargRow {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 40px;
}

#profImage {
    width: 100%;
}

#profileContWrap{
    padding: 20px;
    background-color: #fff;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
}
.vidTextPad {
    padding-top: 10px!important;
}

.vidPad {
    padding-top: 10px!important;
}

/* Boostrap Search Bar */

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
    height: 40px;
    line-height: 40px;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
    height: 40px;
}
.has-search {
    width: 70%;
    float: left;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
}


.slideUpSearch {
    
    width: 70%;
    margin-top: -35px;
    float: left;
    
}
.form-group {
    margin-bottom: 0!important;
}

/* selectSnapshotCont */

#selectSnapshotCont {
    width: 25%;
    float: right;
    -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.1);
    
}
.hide{
    display: none;
}
.thisLabel {
  position: relative;
  display: inline-block;
    margin:0px!important;
    width: 100%!important;
}
.thisLabel:before {
  content: '';
  height: 31px;
  position: absolute;
  right: 7px;
  top: 3px;
  width: 22px;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  pointer-events: none;
  display: block;
}
.thisLabel:after {
  content: " ";
  position: absolute;
  right: 15px;
  top: 49%;
  margin-top: -3px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #aaa transparent transparent transparent;
  pointer-events: none;
}
.thisLabel select {
      display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: normal;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    
}
select::-ms-expand {
  display: none;
}

#leftSev {
    width: 70%;
    float: left;
}
.moduleBordRad {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #cccccc;
}
#keyStatsContainer, #alertContainer, #wordCloudContainer, #vidContainer {
    padding: 10px;
}
#goalsContainer {
    background-color:  #ffffff;
    
}
#goalsHead {
    border-bottom: 1px solid #cccccc;
    color: #fff;
    padding: 5px 0px 5px 0px;
    background-color:  #021e2f;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.weeklyAndSeasonHead {
    font-weight: bold!important;
    border-bottom: 1px solid #cccccc;
    color: #021e2f;
    padding: 3px 10px 3px 10px;
    background-color: #cccccc
}
.clearFix {
    clear: both;    
}
#videoDetails {
    padding: 20px;
}
.goals {
    font-weight: normal!important;
    border-bottom: 1px solid #cccccc;
    color: #021e2f;
    padding: 3px 10px 3px 10px;
    background-color: #fff
}
.typeHeader {
    text-align: center;
    border-top: 1px solid #cccccc;
    vertical-align: center;
    background-color: #cccccc;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.goalHeader {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}
.goalWidthHeader {
    width: 20%;
    float: left;
    text-align: center;
      overflow: hidden;
  text-overflow: ellipsis;
}
.goalWidth {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.goalRow {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    display: -webkit-flex;    
    display: -ms-flexbox;
    display: flex;
    
    
}

#vidTimesCont {
    padding: 20px;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
    width: 100%;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #021e2f;
  color: white;
}

.tag:hover::after {
   border-left-color: #021e2f; 
}

.exceed {
    color: green;
    font-size: 20px;
    
}
.below {
    color: red;
    font-size: 20px;
    
}
.topMargGoals {
    margin-top: 10px;
}
.goalRows {
    background-color: #cccccc;
    display: -webkit-flex;    
    display: -ms-flexbox;
    display: flex;
}
.loadWeeklyGoals, .loadSeasonGoals, .goalsColumn {
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.loadWeeklyGoals, .loadSeasonGoals {
    background-color: #fff;
    border: 1px solid #ccc;
}

#vidContainer {
    margin-top: 20px;
}
.tagStyle {
    padding-left: 5px;
    color: #021e2f;
    float: left;
}
.vidHead {
    color: #021e2f;
    font-weight: bold;
    padding-bottom: 10px;
}
.vidTags {
    padding-bottom: 10px;
    width: 100%;
    overflow: auto;
}
.vidDate {
    padding-bottom: 10px;
    color: #021e2f;
    opacity: .7;
    width: 100%;
}
#keyStatsHead {
    font-weight: bold!important;
    border-bottom: 1px solid #cccccc;
    color: #021e2f;
}

#playerDetailsHead {
    font-weight: bold!important;
    border-bottom: 1px solid #cccccc;
    color: #021e2f;
    padding-top: 10px;
    font-size: 20px;
    
}

#alertHead {
    font-weight: bold!important;
    border-bottom: 1px solid #cccccc;
    color: #021e2f;
}
video {
     width: 100%!important;
     height: auto!important;
 }  
  #infoIcon {
      color: #fff;
      position: absolute;
      right: 10px;
      z-index: 100;
      top: 50%;
      height: 20px;
      width: 20px;

  }
  #innerInfo {
      height: 20px;
      width: 20px;
      position: absolute;
      top: -50%;
      cursor: pointer;
  }
  #innerInfo i {
      font-size: 15px;
      -webkit-transition: font-size linear 100ms;
      -o-transition: font-size linear 100ms;
      transition: font-size linear 100ms;
  }


@media (max-width: 768px) {

    .topbotMarg{
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: auto;
    } 
    .topBot20 {
        padding-bottom:0px!important;
    }
    .overAuto {
        overflow: auto;
        margin-top: 0px;
    }
    .goalRows {
        display: block;
        display: block;
        display: block;
    }

    
}
@media (max-width: 991px) {

    .topPadMidFull{
        margin-top: 20px;
    } 
    .topBot20 {
        padding-bottom:0px!important;
    }
    .overAuto {
        overflow: auto;
        margin-top: 20px;
    }
    
}

