/*body {
    
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-wrapper {
padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

.navbar-header {
    border-bottom-width: 10px;
    background-color: #01294c;
}

.navbar-header {
    margin-bottom: 5px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-inverse {
    background-color: #01294c;
}

.chart-centre {
    text-align: center;
}

.accumulation-theme {
    color: #01294c;
}

.pension-theme {
    color: #C45834;
}

.panel-success > .panel-heading {
    background-color: #01294c;
    color: whitesmoke;
}

.wellness-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.performance-line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

.laneLine {
    fill: none;
    stroke: lightgray;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    transform: rotate(-45);
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    transform: rotate(-45);
}

.control .glyphicon {
    position: static;
}

.slice text {
    font-size: 12pt;
    font-family: Arial;
    color: black;
}

.arc1:hover {
    fill: orange;
}


.insurance rect {
    fill: steelblue;
}

/*    .insurance rect:hover {
        fill: orange;
    }*/

.insurance text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: middle;
}

#tooltip {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #555;
    width: 200px;
    height: 100px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.y-axis {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.labelNames text {
    font-size: 11pt;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
}


.modal-content {

    width: 600px !important;
    margin: 30px auto !important;

}

.progress {
    margin-bottom: 5px !important;
    
}

.progress-bar {
    color: black !important;
}

.x-axis {

		}

		 path { 
		    stroke: steelblue;
		    stroke-width: 2;
		    fill: none;
		}

		.axis path,
		.axis line {
		    fill: none;
		    stroke: grey;
		    stroke-width: 1;
		    shape-rendering: crispEdges;
		}

		.grid .tick {
		    stroke: lightgrey;
		    stroke-opacity: 0.7;
		    shape-rendering: crispEdges;
		}
		.grid path {
		          stroke-width: 0;
		}

		.cont {
			fill:steelblue;
		}

		.glyphicons {
			font-size: 1.0em !important;
		}

.pagination {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}